@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/* * {
  box-sizing: border-box;
} */

/* html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #b1501c;
  background-color:#340d23;
} */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  /*background-color: #1ebea9;*/
  background-color: #32b3aa;
}

